.playerTank {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 2;
  background-size: 32px 32px;
  background-image: url(/src/assets/sprites/Tanks/Player/lvl0/up1.png);
}

.bullet {
  width: 4px;
  height: 4px;
  background-color: red;
}
