.headquaters {
  width: 32px;
  height: 32px;
}
.void,
.brick,
.bush,
.concrete,
.ice,
.water {
  width: 16px;
  height: 16px;
}
.brick {
  background: url(/sprites/Objects/brick.png);
}
.bush {
  background: url(/sprites/Objects/bush.png);
  z-index: 3;
}
.concrete {
  background: url(/sprites/Objects/concrete.png);
}
.ice {
  background: url(/sprites/Objects/ice.png);
}
.water {
  background-image: url(/sprites/Objects/water.png);
  background-position: left;
  animation-name: waterAnimation;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes waterAnimation {
  0% {
    background-position: left;
  }
  50% {
    background-position: left;
  }
  51% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.headquaters {
  background-image: url(/sprites/Objects/Headquaters/entire.png);
  bottom: 32px;
  left: 16px;
  position: relative;
}
.headquatersContainer {
  display: flex;
  width: 64px;
  height: 48px;
  flex-wrap: wrap;
  bottom: 48px;
  left: 224px;
  position: relative;
  z-index: 1;
}
