.infoPanel {
  position: relative;
  left: 32px;
  width: 64px;
  height: 512px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.enemiesCountComponent {
  width: 32px;
  height: 160px;
  display: flex;
  justify-content: start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0;
}
.enemyIcon {
  background: url(/sprites/enemyicon.png) no-repeat center / contain;
  width: 16px;
  height: 16px;
}

.lifesCountComponent,
.stageNumberComponent {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: 1.6rem;
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.2;
}
